.navbarDashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4c0491;
    color: white;
  height: 5rem;
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .logo {
    margin-right: 10px;
  }
  
  .dashboard-title {
    font-weight: bold;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .date-time {
    margin-right: 10px;
  }
  
  .profile-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  @media (max-width: 768px) {
    .navbarDashboard {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .right-section {
      margin-top: 10px;
    }
  }
  