.collapsible-menu {
    width: 80px;
    height: 90%;
    position: fixed;
    left: 0;
    background-color: #4c0491;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s;
    padding-top: 10px;
  }
  
  .collapsible-menu:hover {
    width: auto;
    && a .menu-label{
        display: block;
    }
  }
  
  .collapsible-menu a {
    text-decoration: none;
    color: white;
    padding: 20px 20px; 
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .collapsible-menu a .menu-label {
    margin-left: 10px;
    display: none;
  }
  
  .collapsible-menu a:hover {
    background-color: #eae1f3;
  }
  
  .collapsible-menu .active {
    background-color: #6f4caf;
  }
  

  .menu-footer {
    margin-top: auto;
    padding: 20px;
    text-align: center;
    color: #ccc;
    border-top: 1px solid #555;
  }
  
